{% extends 'app_activities/base.html' %}
<!-- banner Start -->

{%block banner %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Menu & Pricing Management</h1>
                <a href="">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">Menu & Pricing Management</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Products Start -->
    <div class="container-fluid about py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Menu & Pricing Management</h2>
                <h6 class="display-4 text-uppercase">Explore Our Foods</h6>
            </div>
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
                    <li class="nav-item">
                       <a class="nav-link  text-white {% if not category %} active {% endif %}" href="{% url 'product_list' %}" >All</a>
                    </li>

       {% for c in categories %}
                    <li class="nav-item">
                        <a class="nav-link text-white
                        {% if category.slug == c.slug %}
                           active
                           {%endif%}
                        "

                           href="{{ c.real_product }}">{{ c.name }}</a>
                    </li>
                    {%endfor%}
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">

<div class="item">

                        <div class="row g-3">
                            {% for product in products %}
                                        <div class="col-md-6">
                                    <div class="d-flex flex-column text-start bg-secondary border-inner px-4">
                                    <a href="{{ product.real_product }}">
                                    <img {% if product.image %}
                                         src="{{ product.image.url }}"
                                         {%endif%}
                                          height="200" width="400" />
                                        </a>
                                        <a href="{{ product.real_product }}">{{ product.name }}</a>
                                            <br>
                                        #{{ product.price }}
                                    </div>

                                </div>
                            {%endfor%}
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- Products End -->
{%endblock%}

<!-- included footer.html -->
{%block footer %}
{% include 'include/footer.html' %}
{%endblock%}