{% extends 'base.html' %}
{% load static %}
{% block title %}
Thank you
{%endblock%}

{%block banner %}
<!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Orders Received</h1>
                <a href="">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">payment has been processed</a>
            </div>
        </div>
    </div>
<h1>Thank you</h1>
<p>Your payment has been successfully completed</p>
<p>you can check your email for our notify about your transaction
<strong>{{ email }}</strong>.</p>
{%endblock%}


{%block footer %}
{% include 'include/footer.html' %}
{%endblock %}