<div class="container-fluid bg-primary bg-offer py-5 mb-5 ">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="font-secondary text-primary mb-4">Super Food Menu</h1>
                    <h1 class="display-1 text-uppercase text-white mb-4">Tasty Food</h1>
                    <h1 class="text-uppercase text-white">The Super Food For Your Appetite</h1>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <h1 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Our Food trip</h1>
                         <button type="button" class="btn-play" data-bs-toggle="modal"
                             data-bs-target="#videoModal">
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
